.rainbow-text {
    background-image: linear-gradient(to left, lightgreen, green, lightblue, indigo, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timpah {
    position: relative;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
}